header.mdl-layout__header {
  height: 8rem;
  font-family: 'Montserrat', sans-serif;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  background-color: $bg-color;
  color: $main-blue;
}

header.mdl-layout__header nav > a.mdl-navigation__link {
  color: $main-blue;
  font-size: $s-size;
  font-weight: 700;
}

header.mdl-layout__header .mdl-layout__drawer-button {
  position: static;
}

header .mdl-layout__header-row {
  height: 55px;
  padding: 28px 15px 0 20px;
}

@media (min-width: $desktop-breakpoint) {
  header.mdl-layout__header {
    flex-direction: column;
    justify-content: center;
  }

  header .mdl-layout__drawer-button {
    display: none;
  }

  header.mdl-layout__header .mdl-layout__drawer-button {
    position: absolute;
  }

  header.mobile-logo {
    display: none;
  }
}

@media (min-width: $desktop-breakpoint) {
  header .mdl-layout__header-row {
    padding: 10px 15px 0 25px;
  }
}

@media (min-width: $mobile-breakpoint) {
  header.mobile-logo {
    display: none;
  } 
}