.navigator {
  background-color: $main-blue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: $s-size;
}

.navigator--a {
  border: 2px solid $white;
  background-color: $light-blue;
  border-radius: 50%;
  color: $white;
  display: block;
  height: $xl-size;
  text-align: center;
  text-decoration: none;
  line-height: $xl-size;
  width: $xl-size;
}