.snake-bar__container {
  display: flex;
  width: 95%;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.snake-bar__container > div {
  width: 5%;
}
.snake-bar__step {
  display: flex;
  margin: $m-size;
  flex-direction: column;
  align-items: center;
}

.snake-bar__title {
  border: 2px solid;
  margin: $s-size;
  padding: $m-size;
  border-radius: $s-size;
}

.snake-bar__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 $m-size;
  font-size: $xl-size;
  font-weight: bold;
}

.active-step {
  border-color: green;
  color: green;
}