.widget {
  text-align: center;
  color: $main-blue;
  margin: $xl-size;
}

.flexable-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.felixable-p {
  max-width: 50rem;
} 

.widget__title {
  font-size: $xl-size;
  margin: $l-size;
  font-family: 'Noto Serif', serif; 
  line-height: normal;
}

.widget__main-p {
  margin: $l-size;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.67;
  font-size: $l-size;
  font-weight: 700;
}

.widget__medium-p {
  font-size: $m-size;
  line-height: 1.78;
  font-weight: 700;
}

.widget__small-p {
  margin: $m-size;
  font-family: 'Montserrat', sans-serif;
  font-size: $xs-size;
  font-weight: 700;
  line-height: 1.71;
}

.widget--a {
  font-family: 'Montserrat', sans-serif;
  font-size: $xs-size;
  font-weight: 700;
  color: $sandy-brown;
  text-decoration: underline;
  cursor: pointer;
}

.widget__input-wrapper {
  margin: $l-size;
}

.widget__icons-wrapper {
  display: flex;
  margin: $l-size;
}

.widget__input-container {
  display: inline-flex;
  align-items: center;
  border: solid 2px $light-blue;
  border-radius: $round-corner;
  background-color: $white;
}

.widget__sent-confirmation {
  display: flex;
  align-items: center;
  width: 22rem;
  height: $xl-size;
  padding: 0 1rem;
  color: $sandy-brown;
  border-radius: $round-corner;
  background-color: $msg-bg-color;
  font-size: $xs-size;
}

.widget__flag {
  padding: $m-size;
  color: $dark-grey;
  font-size: $s-size;
}

.widget__flag ~ input {
  border-left: solid 2px $light-blue;
}

.widget_os-block {
  border: solid 2px $light-blue;
  border-radius: $extra-round-corner;
  background-color: #fcfcfc;
  padding: $m-size;
  margin: $s-size;
  cursor: pointer;
}

.widget_os-block-title {
  margin: $s-size;
  font-family: 'Montserrat', sans-serif;
  font-size: $m-size;
  font-weight: 600;
}

.widget img {
  width: 96px;
  height: 87.4px;
}

.widget .widget__natural-img {
  width: auto;
  height: auto;
}

.widget__digit-input-wrapper {
  display: flex;
  justify-content: center;
  margin: $m-size 0;
}

.widget__digit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.6rem;
  width: 7.6rem;
  min-width: $m-size;
  min-height: $m-size;
  margin: 2%;
  border-radius: $round-corner;
}

.widget__digit-input {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  border: solid 2px $main-blue;
  border-radius: $round-corner;
  font-size: $l-size;
}

.widget__digit-input:not([value]), .widget__digit-input[value=""] {
  border: solid 2px $light-blue;
}

.widget__digit-input:focus {
  border: solid 2px $main-blue;
}

.widget__error-msg {
  display: flex;
}

.widget__error-msg  img{
  margin: $l-size $m-size;
  width: $l-size;
  height: $l-size;
}

input {
  border: none;
  font-size: $s-size;
  padding: $s-size;
}

.widget__asterisk-number {
  width: 45rem;
  height: 8rem;
  padding: $m-size;
  margin: $m-size;
  border: solid 2px $light-blue;
  font-family: 'Montserrat', sans-serif;
  font-size: $xxl-size;
  font-weight: 700;
  line-height: normal;
  border-radius: $round-corner
}

@media (min-width: $desktop-breakpoint) {
  button {
    font-size: $m-size;
  }
}