.widget {
  text-align: center;
  color: $main-blue;
  margin: 9rem;
}

.flexable-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.felixable-p {
  max-width: 50rem;
} 

.widget__title {
  font-size: $xl-size;
  margin: $l-size;
  font-family: 'Noto Serif', serif; 
  line-height: normal;
}

.widget__main-p {
  margin: $l-size;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.67;
  font-size: 24px;
  font-weight: 700;
}

.widget__medium-p {
  font-size: 18px;
  line-height: 1.78;
  font-weight: 600;
}

.widget__small-p {
  margin: $m-size;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71;
}

.widget--a {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: $sandy-brown;
  text-decoration: underline;
  cursor: pointer;
}

// .widget__subtitle {
//   font-weight: normal;
//   font-size: 40px;
// }

.widget__input-wrapper {
  margin: $l-size;
}

.widget__icons-wrapper {
  display: flex;
  margin: $l-size;
}

.widget__input-container {
  display: inline-flex;
  align-items: center;
  border: solid 2px $light-blue;
  border-radius: 8px;
  background-color: $white;
}

.widget__sent-confirmation {
  display: flex;
  align-items: center;
  width: 22rem;
  height: 4rem;
  padding: 0 1rem;
  color: $sandy-brown;
  border-radius: 8px;
  background-color: #d9f1e1;
  font-size: 14px;
}

.widget__flag {
  padding: 2rem;
  color: $dark-grey;
  font-size: 16px;
}

.widget__flag ~ input {
  border-left: solid 2px $light-blue;
}

.widget_os-block {
  border: solid 2px $light-blue;
  border-radius: 12px;
  background-color: #fcfcfc;
  padding: $m-size;
  margin: $s-size;
  cursor: pointer;
}

.widget_os-block-title {
  margin: $s-size;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.widget img {
  width: 96px;
  height: 87.4px;
}

.widget .widget__natural-img {
  width: auto;
  height: auto;
}

// .widget--label {
//   display: inline-block;
//   line-height: 1.1rem;
//   margin: 0 $s-size $s-size 0;
//   padding-top: $s-size;
// }

.widget__digit-input-wrapper {
  display: flex;
  justify-content: center;
  margin: $m-size 0;
}

.widget__digit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.6rem;
  width: 7.6rem;
  min-width: 2rem;
  min-height: 2rem;
  margin: 2%;
  border-radius: 8px;
}

.widget__digit-input {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  border: solid 2px $main-blue;
  border-radius: 8px;
  font-size: $l-size;
}

.widget__digit-input:not([value]), .widget__digit-input[value=""] {
  border: solid 2px $light-blue;
}

.widget__digit-input:focus {
  border: solid 2px $main-blue;
}

.widget__error-msg {
  display: flex;
}

.widget__error-msg  img{
  margin: $l-size $m-size;
  width: $l-size;
  height: $l-size;
}

button {
  min-width: 17.5rem;
  height: 5.2rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
}

button:disabled {
  opacity: 0.7;
}

button:hover {
  opacity: 0.2;
}

button a {
  color: $white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
}

input {
  border: none;
  font-size: 16px;
  padding: $s-size;
}

.widget__asterisk-number {
  width: 45rem;
  height: 8rem;
  padding: 2rem;
  margin: 2rem;
  border: solid 2px $light-blue;
  font-family: 'Montserrat', sans-serif;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: normal;
  border-radius: 8px;
}

@media (min-width: $desktop-breakpoint) {
  button {
    font-size: $m-size;
  }
}