@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  font-size: 62.5%;
}

body {
  background-color: $white;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.2rem;
}

button {
  background-color: $main-blue;
  border: none;
  color: $white;
  cursor: pointer;
  min-width: 17.5rem;
  height: 5.2rem;
  padding: 0 $m-size;
  font-family: 'Montserrat', sans-serif;
  font-size: $s-size;
  font-weight: 700;
  border-radius: $round-corner;
}

button:disabled {
  opacity: 0.7;
  cursor: default;
}

button:hover:not(:disabled) {
  opacity: 0.2;
}

button a {
  color: $white;
  text-decoration: none;
  font-size: $m-size;
  font-weight: 600;
}

button:disabled {
  cursor: default;
}

a.is-active {
  background-color: white;
  color: $main-blue;
}

hr {
  border-style: solid;
  color: $light-blue;
  width: 85%;
  margin: $xl-size auto;
}

[type="text"] {
  height: $l-size;
  width: 22rem;
}

[type="checkbox"] {
  margin-right: $xs-size;
}

label {
  display: inline-block;
  margin: 0 $xs-size $xs-size 0;
}

.disabled {
  opacity: 0.55;
}

i.material-icons {
  color: $main-blue;
}