@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  font-size: 62.5%;
}

body {
  background-color: $white;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.2rem;
}

button {
  background-color: $main-blue;
  border: none;
  border-radius: 0.6rem;
  color: $white;
  cursor: pointer;
  height: 4rem;
  min-width: 15rem;
}

button:disabled {
  cursor: default;
}

a.is-active {
  background-color: white;
  color: $main-blue;
}

hr {
  border-style: solid;
  color: $light-blue;
  width: 100%;
}

[type="text"] {
  height: $l-size;
  width: 22rem;
}

[type="checkbox"] {
  margin-right: $xs-size;
}

label {
  display: inline-block;
  margin: 0 $xs-size $xs-size 0;
}

.disabled {
  opacity: 0.55;
}

i.material-icons {
  color: $main-blue;
}